@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  background: rgb(244,51,51);
  background: linear-gradient(125deg, rgba(244,51,51,1) 0%, rgba(175,0,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.137);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper {
  position: relative;
  width: 60%;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.wrapper .left, .wrapper .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.wrapper h2 {
  margin-top: 40px;
  font-size: 50px;
  color: #333;
}

.wrapper .left-span, .right-span {
  margin-top: 30px;
  color: #e42765;
  font-size: 60px;
  font-weight: 500;
}

.wrapper .inner-wrapper {
  background-color: #e42765;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 170px;
  height: 100px;
  transform: translateY(300px);
  -webkit-transform: translateY(300px);
  -moz-transform: translateY(300px);
  -ms-transform: translateY(300px);
  -o-transform: translateY(300px);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.wrapper .inner-wrapper h5 {
  color: white;
  font-weight: 400px;
  font-size: 20px;
}

.wrapper .inner-wrapper span {
  color: white;
  font-weight: 400px;
  font-size: 30px;
}

button {
  position: absolute;
  outline: 0;
  border: 0;
  height: 40px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #333;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.5);
}

button:hover {
  cursor: pointer;
}

.again {
  width: 200px;
  height: 80px;
  top: 19px;
  font-size: 40px;
}

.new-game {
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.roll {
  left: 50%;
  top: 75%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.hold {
  left: 50%;
  top: 83%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.dice {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-100%);
  -webkit-transform: translate(-50%,-100%);
  -moz-transform: translate(-50%,-100%);
  -ms-transform: translate(-50%,-100%);
  -o-transform: translate(-50%,-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e42765;
  font-size: 60px;
}

.winner {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #e42765;
}

.hidden {
  display: none;
}
